@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  background-color: #d9d9d9 !important;
  position: relative;
 
}

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .header {
    color: aqua;

    .logo-header {
      margin-right: 112px;
      color: black;
      font-family: K2D;
      font-weight: 700;
      font-size: 50px;
      line-height: 65px;
    }

    .form-control::placeholder {
      color: #cd5b25;
    }
    .search-header {
      width: 424px;
      height: 36px;
      background-color: #d9d9d9;
      border: 1px solid #cd5b25;
      border-radius: 4px;
      margin-right: 0 !important;
    }

    .btn-search-header {
      width: 50px;
      height: 36px;
      background-color: #d9d9d9 !important;
      border: 1px solid #cd5b25;
      border-radius: 4px;

      .icon-circle {
        font-size: 20px;
        color: #cd5b25;
      }
    }
    .btn-signIn-header {
      background-color: #d9d9d9;
      font-family: K2D;
      font-weight: 400;
      color: black;
      font-size: 24px;
    }
  }

  .content {
    padding-bottom: 200px;
    flex: 1 0 auto;
  }

  .section-one {
    position: relative;
    margin-bottom: 285px;
    // z-index: -2 !important;
    .block-text {
      max-width: 520px;
    }

    .title-cat {
      position: relative;
      left: 0;
      font-size: 93px;
      line-height: 147px;
      // letter-spacing: 3px;
      font-family: K2D;
      font-weight: 700;
      z-index: 5;

      .text-colors {
        color: #cd5b25 !important;
      }
    }

    .btn-lorem-ipsum {
      min-width: 280px;
      height: 78px;
      color: #cd5b25;
      background-color: #d9d9d9;
      border: 2px solid #cd5b25;
      border-radius: 10px;
      font-family: K2D;
      font-size: 26px;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: center;
    }

    .block-img {
      // z-index: 1;
      position: absolute;
      right: 0;
      top: 0;
      width: 797px;
      height: 667px;
      // z-index: -1 !important;
    }
  }

  .section-two {
    margin-bottom: 115px;

    .hr-color {
      color: #cd5b25;
      background-color: #cd5b25;
      border: none;
      height: 3px;
      margin-bottom: 48px;
    }
  }

  .section-three {
    height: 285px;
    width: 100%;
    background-color: #cd5b25;
    margin-bottom: 90px;

    .block {
      position: relative;

      label {
        font-family: K2D;
        font-size: 36px;
        font-style: italic;
        font-weight: 700;
        line-height: 47px;
        letter-spacing: 0em;
        color: #cd5b25;
        position: absolute;
        left: 48px;
        top: 24px;
        z-index: 2;
      }

      .input-search {
        position: relative;
        width: 1090px;
        height: 93px;
        border-radius: 10px;
        background-color: #d9d9d9;
        box-shadow: 16px 21px 26px 1px #00000040;
        border: 2px solid;
        margin-right: 18px;
        border-image-source: linear-gradient(
          180deg,
          #ffffff 0%,
          #d9d9d9 29.17%
        );
        background: linear-gradient(0deg, #d9d9d9, #d9d9d9),
          linear-gradient(180deg, #ffffff 0%, #d9d9d9 30.21%);

        &::placeholder {
          position: absolute;
          top: 22px;
          left: 380px;
          color: #cd5b25;
          opacity: 45%;
          font-size: 36px;
          line-height: 46px;
        }
      }
      .btn-icon-search {
        border: 2px solid;
        background: linear-gradient(0deg, #d9d9d9, #d9d9d9),
          linear-gradient(180deg, #ffffff 0%, #d9d9d9 30.21%);
        border-image-source: linear-gradient(
          180deg,
          #ffffff 0%,
          #d9d9d9 29.17%
        );
        box-shadow: 16px 21px 26px 1px #00000040;
        width: 130px;
        height: 93px;
        border-radius: 10px;
        background-color: #d9d9d9;

        .icon-search {
          width: 42px;
          height: 39px;
          color: #cd5b25;
        }
      }
    }
  }

  .section-four {
    .info-text {
      .title {
        min-height: 30px;
        font-family: K2D;
        font-size: 36px;
        font-weight: 700;
        line-height: 47px;
        letter-spacing: 0.005em;
        text-align: center;
        color: #cd5b25;
      }
      .title-item {
        width: 618px;
        min-height: 55px;
        font-family: K2D;
        font-size: 26px;
        font-weight: 300;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;
      }
    }

    .info-one {
      width: 749px;
      p {
        font-family: K2D;
        font-size: 26px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0.065em;
        text-align: left;
        color: black;
      }

      .block-lorem {
        width: 450px;
        min-height: 358px;
      }
    }
    .info-mrg {
      margin-right: 35px;
      margin-left: -35px;
    }

    .price-info {
      padding: 18px;
      width: 325px;
      height: 309px;
      border: 2px solid #cd5b25;
      border-radius: 8px;

      .price {
        width: 100%;
        text-align: end;
        font-family: K2D;
        font-size: 40px;
        font-weight: 700;
        line-height: 52px;
        color: #cd5b25;
        // padding-right: 10px;
      }

      h2 {
        font-family: K2D;
        font-size: 24px;
        font-weight: 700;
        line-height: 31px;
        color: #cd5b25;
      }

      .title-text {
        font-family: K2D;
        font-size: 24px;
        font-weight: 300;
        line-height: 31px;
        letter-spacing: -0.05em;
      }
    }
  }

  .section-five {
    h1 {
      margin-bottom: 50px;
      font-family: K2D;
      font-size: 36px;
      font-weight: 700;
      line-height: 47px;
      text-align: center;
      color: #cd5b25;
    }
  }

  .footer {
    flex: 0 0 auto;
    background-color: #cd5b25;
    height: 157px;
  }

}

@media screen and (max-width: 780px) {
  .wrapper {
    .header {
      width: 100%;

      .search-header {
        width: 90%;
      }

      .btn-signIn-header {
        display: none;
      }
    }
    .content {
      padding: 0px 10px;
    }
    .section-one {
      width: 100%;
      min-height: 700px;
      display: flex;
      flex-direction: column-reverse !important;
      margin-bottom: 28px;

      .block-img {
        z-index: 1;
        width: 100% !important;
        height: 67px;

        & img {
          max-width: 100%;
          height: 392.09px;
          top: 85px;
        }
      }
      .btn-lorem-ipsum {
        width: 100%;
        height: 26px;
        font-size: 13px;
        line-height: 16px;
      }

      .title-cat {
        font-size: 27.67px;
        text-align: center;
        font-weight: 400;
        line-height: 27.67px;
        z-index: 0;
        padding-top: 10px !important;
        bottom: 0;
      }
    }

    .section-three {
      height: 82px;
      .block {
        label {
          font-size: 11px;
          line-height: 8px;
          left: 12px;
          top: 10px;
        }

        .input-search {
          width: 218px;
          height: 29px;

          &::placeholder {
            top: 7px;
            left: 110px;
            font-size: 9px;
            line-height: 1px;
          }
        }

        .btn-icon-search {
          width: 30px;
          height: 29px;
          border-radius: 10px;

          .icon-search {
            width: 12px;
            height: 11px;
          }
        }
      }
    }

    .section-four {
      .info-text {
        .title {
          font-size: 18px;
          line-height: 23px;
        }
        .title-item {
          width: 90%;
          font-size: 13px;
          font-weight: 300;
          line-height: 17px;
        }
      }

      .info-one {
        width: 100%;

        .img-container {
          img {
            height: 61px;
          }
        }
        p {
          font-size: 13px;
          line-height: 17px;
        }

        .block-lorem {
          width: 450px;
          min-height: 108px;
        }
      }
      .info-mrg {
        margin: 0;
        margin-top: 18px;
      }
      .mobile-edit {
        margin: 0 !important;
        padding: 0 !important;

        .mobile-img {
          margin-right: 30px !important;
        }
      }

      .price-info {
        padding: 18px;
        width: 157px;
        height: 149px;
        border: 2px solid #cd5b25;
        border-radius: 8px;

        .price {
          font-size: 19px;
          line-height: 25px;
        }

        h2 {
          font-size: 13px;
          line-height: 15px;
        }

        .title-text {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

  }
}


@media screen and (min-width: 780px) and (max-width:1180px){
  .wrapper {
    .header {
      width: 100%;

      .search-header {
        width: 100%;
      }

      .btn-signIn-header {
        display: none;
      }
    }
   
    .section-one {
      width: 100%;
      min-height: 700px;
      flex-direction: column-reverse !important;
      margin-bottom: 28px;
      
      .block-img {
        width: 80% !important;
        height:65%;
        left: 90px;

        & img {
          object-fit: contain;
          width: 100%;
          height: 430px;
        }
      }
      .menu-tablet{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .btn-lorem-ipsum {
        width: 20%;
        height: 26px;
        font-size: 13px;
        line-height: 16px;
       
      }

      .title-cat {
        font-size: 36px;
        line-height: 38px;
        padding-top: 5px !important;
        bottom: 0;
      }
    }

    .section-three {
      height: 82px;
      .block {
        label {
          font-size: 14px;
          line-height: 8px;
          left: 12px;
          top: 10px;
        }

        .input-search {
          width: 298px;
          height: 32px;

          &::placeholder {
            top: 2px;
            left: 122px;
            font-size: 14px;
            line-height: 1px;
          }
        }

        .btn-icon-search {
          width: 36px;
          height: 32px;
          border-radius: 10px;

          .icon-search {
            width: 14px;
            height: 14px;
          }
        }
      }
    }

    .section-four {
      .info-text {
        .title {
          font-size: 24px;
          line-height: 28px;
        }
        .title-item {
          width: 90%;
          font-size: 20px;
          font-weight: 300;
          line-height: 17px;
        }
      }

      .info-one {
        width: 100%;

        .img-container {
          img {
            height: 61px;
          }
        }
        p {
          font-size: 18px;
          line-height: 27px;
        }

        .block-lorem {
          width: 450px;
          min-height: 108px;
        }
      }
      .info-mrg {
        margin: 0;
        margin-top: 18px;
      }
      .mobile-edit {
        margin: 0 !important;
        padding: 0 !important;

        .mobile-img {
          margin-right: 30px !important;
        }
      }

      .price-info {
        padding: 18px;
        width: 157px;
        height: 149px;
        border: 2px solid #cd5b25;
        border-radius: 8px;

        .price {
          font-size: 19px;
          line-height: 25px;
        }

        h2 {
          font-size: 13px;
          line-height: 15px;
        }

        .title-text {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

  }
}